#app-usermanage {
  .status {
    width:15%;
    text-align:center;
    float: left;
  }

  .status_cell {
    width:300px;
    padding:0 !important;
  }
  .status-header span {
    display: block;
    clear:both;
  }
  .status-header div {
    height: auto;

  }
  .head4 { vertical-align: bottom; }

  #content .col2 {
    text-align:center;
  }
  .ui-highlight {
    color: #000 !important;
  }

  /**
   *  individual quota figures
   */

  .status .ui-action {
    width:20px;
    position: relative;
    background-position: center center;
    padding:0;
  }

  dd { margin-left:1em; }

  .quota-cell {
    text-align: right;
    padding: 0.25em;
  }

  .quota-cell .ui-gauge-label {
    color: #4f4f4f;
    margin-top:1px;
    top:0;
  }

  .ui-app-container .ui-gauge-crit .ui-label-percentage {
    color: #fff;
    text-shadow: 0 0 0 #000;
  }

  #quota-header {
    text-align: left !important;
  }

  th.actions, #status-header > span {
    text-align: center !important;
  }

  .quota-cell .ui-gauge-cluster {
    height:$font-size-base*2;
    overflow: visible;
    text-shadow: 0 1px 0 #fff;
    position: relative;
  }

  .quota-cell .ui-gauge {
    width: 100px;
  }
  .quota-cell .ui-label-cluster {
    float: right;
  }
  .quota-cell .ui-label-percentage {
    position: absolute;
    top: 9px;
    left:2px;

  }
  .quota-cell .ui-gauge-label-used, .quota-cell .ui-gauge-label-total {
    float: left;
    margin-left: 1em;
  }
  .ui-label-percentage {
    clear:both;
    text-align:left;
  }

  .quota-over td.username {
    background: #d82900;
    color: #fff;
  }
  .quota-over td.username:hover { color:#000; }
  tr.entry td {
    vertical-align:middle;
  }

  .status-matrix {
    border: 1px solid #adadad;
    overflow: hidden;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
  }
  .status-matrix .cell {
    width: 32px;
    display: block;
    float: left;
    text-align: center;
    color:#7a7a7a;
  }
  .status-matrix .cell-middle {
    border-left:1px solid #efefef;
    border-right:1px solid #efefef;
  }

  .status-matrix, .status-matrix-heading {
    width: 100px;
    clear: both;
    text-align: center;
    display: block;
  }
  .help-item {
    display: block;
    clear: both;
  }

  #reset_filter {
    display: none;
  }

  /** filter */

  #reset_filter { margin-left:10px; display: none; }

  .ui-active-filters li {
    background-repeat: no-repeat;
    line-height: 16px;
    display: inline-block;
    margin: 0.5em 1em 0.5em 0;
    cursor: pointer;
    color: $gray-dark;
  }

  .ui-active-filters li:hover {
    color: #000;
  }

  .ui-active-filters .ui-filter-spec {
    font-size: smaller;
    color: #999;
  }

  .filter-username:after {
    content: " (username)";
  }

  .filter-gecos:after {
    content: " (full name)";
  }

  .filter-storage:after {
    content: " (storage)";
  }

  .filter-mail:after {
    content: " (mail)";
  }

  .filter-ftp:after {
    content: " (mail)";
  }

  .filter-web:after {
    content: " (web)";
  }

  .filter-cp:after {
    content: " (cp)";
  }

  .filter-ssh:after {
    content: " (ssh)";
  }

  /**
   * Comparators
   */
  .ui-filter-spec:before {
    font-style: italic;
  }

  .filter-comp-contains:before {
    content: "contains ";
  }

  .filter-comp-notcontains:before {
    content: "not contain ";
  }

  .filter-comp-is:before {
    content: "is ";
  }

  .filter-comp-isnot:before {
    content: "is not ";

  }

  .filter-comp-service-enabled:before {
    content: "enabled ";
  }

  .filter-comp-service-disabled:before {
    content: "disabled ";
  }
  /** end filter */

  #users th {
    vertical-align: bottom;
  }

  .ui-action-is-disabled:before {
    text-indent: -999em;
  }
}