#app-useradd, #app-useredit, #app-userdefaults {
  @include media-breakpoint-down(sm) {
    .custom-control-indicator {
      position: static;
      margin-right: $form-check-input-margin-x; // Flexbox alignment means we lose our HTML space here, so we compensate.
    }
  }
}
#app-useradd {
  .suboptions {
    display:none;
  }
  fieldset.form-group {
    margin-bottom: $spacer-y;
  }
  #disk_slider { margin:5px 0 10px 5px;  display: none; }

  #selected_dir {
    display: block;
  }

  #change-warning ol {
    list-style-position: inside;
  }

  tr td:first-child {
    vertical-align: top;
  }
  /* This file skins sliders */

  #change-warning, #change-form {
    display: none;
  }

  .password-confirm-container {
    display: none;
  }
}
