// Body
$body-bg: #fff;

// Create grayscale
$gray-dark: #292b2c !default;
$gray: #464a4c !default;
$gray-light: #636c72 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;

$enable-flex: true !default;
$enable-rounded: true !default;
$enable-shadows: true;
$enable-gradients: true !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

$spacer: 1rem;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;

/**
 * Heading styles
 */
$header-bg: #444444; //#4D545D;
$header-bg-light: #fff; //($header-bg, 15%);
$header-links: #fff; //invert($header-bg);
$header-links-hover: #999999; //darken($header-links, 10%);
$header-icons: $header-bg-light;
$header-icons-hover: $header-links-hover;

$input-color: $gray-dark;
$custom-file-color: $gray-dark;

$sidemenu-max-width: 200px;
$sidemenu-link-color: #444444;
$sidemenu-icon: #444;
$sidemenu-icon-hover: #000;
$sidemenu-icon-active: $brand-primary;
$sidemenu-active-app-bg: none;
$sidemenu-app-hover-bg: lighten($header-bg, 5%);
;
$sidemenu-app-hover-color: $header-links;

$menu-border: 1px solid $header-bg;
$menu-hover-bg: lighten($header-bg, 5%);
$menu-hover-border: 1px solid darken($header-bg, 5%);
$menu-breadcrumb-bg: $header-bg;
$menu-breadcrumb-border: 1px solid darken($header-bg, 20%);
$menu-breadcrumb-color: $header-links;
$menu-breadcrumb-color-hover: $header-links-hover;
$alert-info-bg: #fff;

$footer-bg: $header-bg;
$speed: 200ms;
$easing: cubic-bezier(0.7, 0, 0, 0.7);

$rocket-gray: #ebebeb;
$accent: #cf5349;

$pointer-color: $accent;

$spectrum-height: 2px;
$navbar-dark-color: #bfbfbf;

// Brands
$brand-primary: $blue; //#324d5b;//#3097D1;
$brand-secondary: $orange;
$brand-info: #8eb4cb;
$brand-success: $green;
$brand-warning: #d69400; //$yellow;
$brand-danger: $red;
$brand-info: #3aa3e3;
$text-highlight-bg: $yellow;
$text-highlight: #000;
$js-colors: (
		primary: $brand-primary,
		secondary: darken($brand-primary, 15%),
		tertiary: $green,
		inactive: $rocket-gray,
		background: #fff
);

// Typography
// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 14px;

$font-size-base: 14px;
$font-family-base: "Roboto", "Arial";
$line-height-base: 1.6;
$text-color: #636b6f;

// Borders
$default-border-color: transparent;
//: darken($body-bg, 10%);
$navbar-default-border: $default-border-color;
$panel-default-border: $default-border-color;
$panel-inner-border: $default-border-color;

$enable-rounded: false;
$enable-shadows: true;

// List Groups
$list-group-border: $gray;
$list-group-active-color: $brand-primary;
$list-group-active-bg: #fff;
$list-group-active-border: $brand-primary;
$list-group-active-text-color: $text-color;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;
$btn-secondary-border: $gray;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Dropdown
$dropdown-link-hover-color: $brand-primary;

// Footer
$footer-margin: 6rem;
$dashboard-bg: #fff;

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
	$map: map-get($map, $key);
  }
  @return $map;
}

$btn-block-spacing-x: 1.5rem;

$btn-box-shadow: inset 0 1px 0 rgba($gray, .15), 0 1px 1px rgba($black, .275);
$btn-focus-box-shadow: 0 0 0 2px rgba($brand-primary, .25);
$btn-active-box-shadow: inset 0 3px 5px rgba($black, .125);

$btn-secondary-border: #757575;

$header-bg-light: lighten($header-bg, 25%);
$sidemenu-active-cat-link-color: #444444;

$btn-padding-x: 1.25rem !default;
$btn-padding-y: .75rem !default;
$btn-block-spacing-x: 1.25rem;

$dropdown-link-hover-color: #fff;
$dropdown-link-hover-bg: $brand-primary;

$small-dropshadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
0 3px 1px -2px rgba(0, 0, 0, 0.2);

$large-dropshadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
0 2px 4px -1px rgba(0, 0, 0, 0.4);