#app-login {
  background: radial-gradient(#eef2ef 0%, #fff 100%) #eef2ef;
  .logo {
	background: url(/images/apps/login/logo.svg) center center no-repeat;
	background-size: 100%;
	height: 125px;
	width: 125px;
  }


  .login-container {
	border: 1px solid darken(#eef2ef, 15%);
  }
}