a#ui-fa-dashboard {
  background-position: -32px -48px;
  /** sprite-ref: mysprite; */
}

a#ui-fa-feedback {
  background-position: -32px -96px;
  /** sprite-ref: mysprite; */
}

a#ui-fa-logout {
  background-position: -32px -144px;
}

a#ui-fa-chuser {
  background-position: -32px 0;
}

a#ui-fa-testimonial {
  background-position: -32px -192px;
}

a#ui-fa-support {
  background-position: -32px -240px;
}

a#ui-fa-kb {
  background-position: -32px -514px;
}

#ui-heading {
  background: $header-bg;
  color: $header-links;
  padding-left: 0;
  padding-right: 0;
  z-index: 990;
}

#ui-job-indicator {
  position: relative;
  #ui-job-queue:empty + span {
    display: block !important;
  }
  .job-counter {
    position: absolute;
    right: 0;
    top: -0.5em;
  }

  .job {
    font-size: smaller;
    .badge {
      text-transform: uppercase;
    }
  }


  .indicator {
    height: 100%;
    &::after {
      opacity: 0;
    }
  }

  &.active {
    .machine {
      fill: lighten($header-bg, 15%);
    }
    .indicator::after {
      opacity: 1;
    }
  }
  &.running {
    .machine {
      fill: lighten($header-bg, 35%);
    }
  }
  .machine {
    width: 3rem;
    fill: lighten($header-bg, 5%);
  }
}

.ui-job-indicator.running {
    .machine {
      .gear-small {
        animation: gear-counter-rotation 2.5s infinite linear;
        transform-origin: 100.136px 225.345px;
      }

      .gear-medium {
        animation: gear-rotation 3.75s infinite linear;
        transform-origin: 254.675px 379.447px;
      }

      .gear-large {
        animation: gear-counter-rotation 5s infinite linear;
        transform-origin: 461.37px 173.694px;
      }
    }
  }

@keyframes gear-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes gear-counter-rotation {
  from {
    -webkit-transform: rotate(359deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

@include media-breakpoint-up(md) {
  .ui-app-row {
	  display: flex !important;
	  flex: 1;
      flex-grow: 1;
	  body.ie & {
		min-height:100vh;
		/**
		  * IE 11
		  * https://stackoverflow.com/questions/21600345/flexbox-and-internet-explorer-11-displayflex-in-html
		  */
		flex: auto;
	  }
  }
}

body.ui-swap-buttons {
  #ui-header > div, #ui-heading + .ui-app-row {
    @extend .flex-row-reverse;
  }
  #ui-nav-container {
	padding-left: 0;
  }
  @include media-breakpoint-down(sm) {
    // ensure hamburger sits flush right
    #ui-menu-button {
      margin-right: 0 !important;
      margin-left: auto;
    }

    #ui-nav-container {
      display: block;
      width: 100%;
    }
  }

  #ui-menu > .dropdown .ui-menu-category-apps {
    margin-left: 0;//-#{$grid-gutter-width-base/2};
    margin-right: -#{$grid-gutter-width-base/2};
  }
  .ui-menu-category + .ui-menu-category-apps {
    a {
      padding-left: 2.75rem;
    }
    .active:after {
      transform:rotate(-90deg);
      left: -0.25em;
    }
  }
}
#ui-header {
  a { &:hover {
      color: $header-links-hover !important;
    }
    text-decoration: none;
  }
  margin-left: 0;
  margin-right: 0;

  .ui-gauge-cluster {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
    margin: 0 $spacer-y 0 0;
    cursor: pointer;
    align-items: center;
  }

  #logo {
    color: #fff;
    font-size: $font-size-h1*0.80;
  }

  .ui-gauge {
    background: $header-bg-light;
    border-color: darken($header-bg-light, 10%);
    @include border-radius($border-radius);
    overflow: hidden;
    height: 8px;
    .ui-gauge-free {
      background: lighten($header-bg, 5%);
    }
  }

  .ui-gauge-cluster {
    .ui-gauge-label {
      color: $header-links;
    }
  }
}

.ui-refresh {
  @extend .fa;
}

#ui-gauge-refresh {
  display: none;
  position: absolute;
  top: #{$spacer-y/2};
  right: 0;
}

#ui-notification-indicator-container {
  padding: #{$spacer/3};
  margin-right: $spacer;
  .ui-swap-buttons & {
    margin-right: $spacer;
    margin-left: 0;
  }
  &.read {
    opacity: 0.35;
    &.read:hover {
      opacity: 1;
    }
  }
  #ui-notification-indicator {
    cursor: pointer;
    margin: #{$spacer - $spacer/3*2};
    border-radius: 1em;
    background-color: $header-bg;
    position: relative;
    .ui-action-notification {
      &.inactive {
        opacity: 0.35;
        &:hover, &:focus {
          opacity: 1;
        }
      }
    }

    .ui-action-notification + .badge {
      position: absolute;
      right: -1em;
      top: -1em;
    }

  }
}

#ui-header .ui-debug-indicator {
  opacity: 0.35;
  @extend  .fa;
  margin-top: 3px;
  @extend .fa-bug;
}

#ui-account-ctrl {
  padding: $spacer/2;
  padding-right: $spacer;
  padding-left: 0;
  margin-right: -$grid-gutter-width-base/2;
  .ui-swap-buttons & {
    padding-right: 0;
    padding-left: $spacer;
    margin-left: -$grid-gutter-width-base/2;
    margin-right: $spacer;
  }
  margin-top: -#{map-deep-get($spacers, 1, y)};
  margin-bottom: -#{map-deep-get($spacers, 1, y)};
  .avatar {
    //max-height: 64px;
    //margin: -#{$grid-gutter-width-base/2} #{$grid-gutter-width-base/2} -#{$grid-gutter-width-base/2} -#{$grid-gutter-width-base/2};
    max-height: 36px;
    margin: 0 #{$grid-gutter-width-base/2} 0 0;
  }


  a {
    color: $header-links;
    &:focus {
      text-decoration: none;
    }
	&.dropdown-toggle::after {
	  margin-left: #{$grid-gutter-width-base/2};
	}
  }
  .dropdown-menu {
    left: initial;
    @include border-radius($border-radius);

    .dropdown-item {
      display: flex;
      align-items: center;
    }
    a {
      color: $dropdown-link-color;
      position: relative;
      &:active {
        color: $dropdown-link-active-color;
      }
      .ui-action {
        display: flex;
        padding-left: 1rem;
        margin-left: auto;
        &:before {
          margin-right: 0;
        }
      }
    }

  }
}

@keyframes ring {
  0% {
    transform: rotate(-15deg)
  }

  2% {
    transform: rotate(15deg)
  }

  4% {
    transform: rotate(-18deg)
  }

  6% {
    transform: rotate(18deg)
  }

  8% {
    transform: rotate(-22deg)
  }

  10% {
    transform: rotate(22deg)
  }

  12% {
    transform: rotate(-18deg)
  }

  14% {
    transform: rotate(18deg)
  }

  16% {
    transform: rotate(-12deg)
  }

  18% {
    transform: rotate(12deg)
  }

  20% {
    transform: rotate(0deg)
  }
}

#ui-header .ui-action-notification {
  text-indent: 0;
  top: 0.5em;
}
.ui-action-notification.animated,
.ui-action-notification.animated-hover:hover {
  display: inline-block;
  animation: ring 3s ease-in-out;
  animation-delay: 1.5s;
}