nav {
  z-index: 3;
  width: 100%;
}

#ui-side-menu-toggle {
  border: 0 none;
  margin-left: -0.75rem;
  cursor: pointer;
  margin-right: $spacer-y*3;
  body.ui-swap-buttons & {
	margin-left: $spacer-y*3;
	margin-right: 0;
  }
}

#ui-full-flex-wrap > .ui-app-row {
  flex-grow: 1;
  display: flex;
}

body.ui-swap-buttons #ui-full-flex-wrap > .ui-app-row {
  /** prevent scroll on hide */
  overflow-x: hidden;
}

.ui-flyout {
  will-change: transform;
  transition: $transition-base;
  left: 0;
  transform: translateX(0%);
  display: block !important;

  &.show {
    width: 100%;
  }

  @include media-breakpoint-up(md) {
    overflow: hidden;
    &[aria-expanded="false"] {
      flex: 0;
      width: 0;
      transform: translateX(-100%);
    }
    transform: translateX(0);
    flex: 0 0 100%;
    // avoid UI collision with URL indicator in Chrome while hovering "Logout"
  }
  @include media-breakpoint-down(sm) {
    overflow: hidden;
    &[aria-expanded="true"] {
      overflow: auto;
    }
    #ui-nav {
      padding-bottom: $spacer-y;
    }
    &[aria-expanded="false"] {
      flex: 0 1 0;
      width: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    max-width: 50vw;
    @if variable-exists(large-dropshadow) {
      box-shadow: $large-dropshadow;
    }

    &[aria-expanded="true"] {
      transform: translateX(0);
    }
  }

  @include media-breakpoint-down(sm) {
    position: absolute;
    z-index: 100;
    transform: translateX(-100%);
  }

  &.ui-flyout-right {
    transform: translateX(100%);
    left: initial !important;
    right: 0;
    &[aria-expanded="true"] {
      transform: translateX(0);
    }

    @include media-breakpoint-up(md) {
      height: auto;
      transform: translateX(0);
      &[aria-expanded="false"] {
        transform: translateX(100%);
      }
    }
  }
}

.navbar-toggler {
  cursor: hand;
}

#ui-nav-container {
  min-height: auto;
  height: auto;
  z-index: 100;
  padding: 0;
  max-width: $sidemenu-max-width;
  @include media-breakpoint-down(sm) {
    height: 100% !important;
    max-width: 50vw;
  }
  background: $header-bg;
  > div.col-12 {
    // col-12
    padding-right: 0;
    padding-left: 0;
  }

}

#ui-menu {

  @extend .flex-column;

  > .dropdown {
    display: block;
    // app navigation caret
    .dropdown-toggle::after {
      transform: rotate(90deg);
      float: right;
      height: 1em;
      top: 0.5em;
      position: relative;
	  right: 1rem;
    }

    // navigation indicator highlight
    .dropdown-toggle:hover::after,  .dropdown-toggle:focus::after{
      color: $accent;
    }

    .dropdown-toggle[aria-expanded="true"]::after {
      transform: rotate(0);
      position: relative;
      top: 0.75rem;
      right: 0.75rem;
    }
    .ui-menu-category-apps {
      margin-top: 0;
      margin-right: -$grid-gutter-width-base/2;
      float: none;
	  &, .ui-swap-buttons & {
		margin-right: 0 !important;

	  }
    }
  }
  .ui-menu-active {
    z-index: 2;
    color: $sidemenu-icon-active;
    font-weight: 600;
    @include border-radius($border-radius-sm);

    a {
      color: #333;
      li:hover & {
        color: #fff;
      }
    }
  }
}

.navbar-toggler {
  border: 1px solid lighten($header-bg, 7.5%);
  // crappy approximation
  margin-top: $spacer-y/2;

  .icon-bar {
    background-color: $header-links;
    display: block;
    width: 14px;
    height: 2px;
    border-radius: 1px;
    margin: 2px 0;
    +.icon-bar {
      margin-top: 4px;
    }
  }
}


.navbar-toggler {
  overflow: hidden;

  .icon-bar {
    transition: opacity, transform;
    transition-duration: $speed;
    transition-timing-function: $easing;
  }

  &:not(.collapsed) {
    .icon-bar {
      &:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}



#ui-breadcrumb-container {
  background: $menu-breadcrumb-bg;
  margin: 0;

  @include media-breakpoint-up(md) {
      padding: 0.15em 0;
  }
}

.ui-search {
  -webkit-appearance: textfield;
  box-sizing: content-box;

  &::search-decoration,
  &::search-cancel-button {
    display: none;
  }

  background: transparent svg-encode('<svg version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 48" xml:space="preserve"><path fill="#{$sidemenu-icon}" d="M14.7,20.1c0-3.6,1.2-6.6,3.7-9.1s5.5-3.7,9.1-3.7c3.5,0,6.5,1.2,9,3.7s3.8,5.5,3.8,9.1c0,3.5-1.3,6.5-3.8,9s-5.5,3.8-9,3.8c-3.6,0-6.6-1.3-9.1-3.8S14.7,23.6,14.7,20.1z M0,43.8c0,1,0.4,1.9,1.1,2.6s1.6,1.1,2.6,1.1s1.9-0.4,2.6-1.1l9.8-9.8c3.4,2.4,7.2,3.6,11.4,3.6c2.7,0,5.3-0.5,7.8-1.6c2.5-1.1,4.6-2.5,6.4-4.3c1.8-1.8,3.2-3.9,4.3-6.4c1-2.5,1.6-5.1,1.6-7.8c0-2.8-0.6-5.4-1.6-7.8c-1.1-2.5-2.5-4.7-4.3-6.5s-3.9-3.2-6.4-4.3c-2.5-1-5.1-1.5-7.8-1.5c-2.8,0-5.4,0.5-7.9,1.5C17.2,2.6,15,4,13.2,5.8s-3.2,4-4.3,6.5c-1,2.4-1.6,5-1.6,7.8c0,4.2,1.2,8,3.6,11.4l-9.8,9.8C0.4,42,0,42.8,0,43.8z"/></svg> ') no-repeat #{$spacer-x/4 + $font-size-base} center;
  background-size: 1em;
  border: solid 1px transparent;
  border-right: 0 none;
  border-left: 0 none;
  transition: $transition-base;
  box-shadow: none;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: -1px !important;
  border-radius: 0;
  line-height: 1;
  color: $sidemenu-icon;
  text-align: center;

  &:focus {
    width: 100%;
    color: $input-color !important;
    margin-right: 1px !important;
    background-color: $body-bg;
  }

}

.ui-search-caret {
  font-weight: bold !important;
}

/**
 * Menu icons
 */
.ui-menu-category:before {
  @extend .fa;
}
#ui-nav .ui-menu-category {
  color: $header-links;
  padding: $spacer/2 0;
  padding-left: $spacer-x;
  display: block;
  &:hover,&:focus {
    background: transparentize($sidemenu-icon-active, 0.95);
    text-decoration: none;
    transition: 250ms ease-in-out;
    &:before, &[aria-expanded="true"]:before {
      color: $sidemenu-icon-hover;
      text-decoration: none !important;
      border-bottom: 0 none;
    }
  }

  &.ui-menu-active {
    &:before {
      color: $sidemenu-icon-active;
    }
  }

  &:before {
    color: $sidemenu-icon;

    @include experimental(background, linear-gradient($sidemenu-icon, darken($sidemenu-icon, 10%)), webkit moz o, true);
    @include experimental(text-fill-color, transparent, webkit moz o);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    display: inline-block;
    margin-right: $spacer-x/1.25;

  }

  z-index: 2;
  position: relative;
  & + .ui-menu-category-apps {
    border-radius: 0;
    z-index: 1;
    .active {
      position: relative;
      background: $sidemenu-active-app-bg;
      //border-right: 3px solid $rocket-red;
      color: $sidemenu-icon-active;

      &:after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0;
        vertical-align: middle;
        content: "";
        border-top: 0.5em solid #f5f8fa;
        border-right: 0.5em solid transparent;
        border-left: 0.5em solid transparent;
        body.ui-swap-buttons & {
          transform:rotate(270deg);
        }
        position: absolute;
        transform: rotate(90deg);
        margin-right: 0;
        right: -0.25em;
        top: 0.75rem;
        @include media-breakpoint-down(sm) {
          left: 0.5em;
          transform: rotate(-90deg);
		  top: 1rem;
        }
      }
    }
    a {
      text-decoration: none;
      color: $header-links;
      padding-left: 2.75rem;
	  padding-top: 0.25rem;
	  padding-bottom: 0.25rem;
	  // mobile touch
	  @include media-breakpoint-down(sm) {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	  }
      &:hover, &:focus {
        background: $sidemenu-app-hover-bg;
        color: $sidemenu-app-hover-color;

      }
    }
    position: relative;
    //transition: 0.5s height;

    background: $header-bg-light;
  }
}

.ui-menu-category-account:before {
  @extend .fa-cog;
}

.ui-menu-category-databases:before {
  @extend .fa-database;
}

.ui-menu-category-dns:before {
  @extend .fa-cloud;
}

.ui-menu-category-files:before {
  @extend .fa-hdd-o;
}

.ui-menu-category-dev:before {
  @extend .fa-terminal;
}

.ui-menu-category-help:before {
  @extend .fa-life-ring;
}

.ui-menu-category-job-runner:before {
  @extend .fa-wrench;
}

.ui-menu-category-horizon:before {
  @extend .fa-wrench;
}

.ui-menu-category-nexus:before {
  @extend .fa-train;
}

.ui-menu-category-license:before {
  @extend .fa-key;
}

.ui-menu-category-mail:before {
  @extend .fa-envelope;
}

.ui-menu-category-reports:before {
  @extend .fa-pie-chart
}

.ui-menu-category-services:before {
  background-position: 0 -256px;
}

.ui-menu-category-tools:before {
  @extend .fa-wrench;
}

.ui-menu-category-users:before {
  @extend .fa-user;
}

.ui-menu-category-web:before {
  @extend .fa-desktop;
}

.ui-menu-category-logout:before {
  @extend .ui-action-logout;
}

.ui-menu-category-feedback:before {
  @extend .fa-check-circle-o;
}

.ui-menu-category-dashboard:before {
  @extend .fa-home;
}

.ui-menu-category-scopes:before {
  @extend .fa-fighter-jet;
}

.ui-menu-category-api:before {
  @extend .fa-flask;
}

.ui-menu-category-services:before {
  @extend .fa-cogs;
}

.ui-menu-category-rampart:before {
  @extend .fa-fire;
}

.ui-menu-category-telemetry:before {
  @extend .fa-line-chart;
}