@mixin custom-checkbox($color) {
	background-image: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{$color}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"), "#", "%23");
}

@function svg-encode($svg) {
  // Add missing namespace
  @if not str-index($svg, ' xmlns="http://www.w3.org/2000/svg"') {
	$svg: str-insert($svg, ' xmlns="http://www.w3.org/2000/svg"', 5);
  }

  // Encode characters
  $encode: (
		  '"': "%22",
		  "#": "%23",
		  "%": "%25",
		  "<": "%3C",
		  ">": "%3E",
		  "{": "%7B",
		  "}": "%7D",
  );

  $string: "";
  $character: "";

  @for $i from 1 through str-length($svg) {
	$character: str-slice($svg, $i, $i);

	@if index(map-keys($encode), $character) {
	  $character: map-get($encode, $character);
	}

	$string: $string + $character;
  }

  // Return data URI
  @return url("data:image/svg+xml,#{$string}");
}

@mixin scrim-gradient($startColor, $direction: 'to bottom', $end: transparent) {

  $scrimCoordinates: (
		  0: 1,
		  19: 0.738,
		  34: 0.541,
		  47: 0.382,
		  56.5: 0.278,
		  65: 0.194,
		  73: 0.126,
		  80.2: 0.075,
		  86.1: 0.042,
		  91: 0.021,
		  95.2: 0.008,
		  98.2: 0.002,
		  100: 0
  );

  $hue: hue($startColor);
  $saturation: saturation($startColor);
  $lightness: lightness($startColor);
  $stops: ();

  @each $colorStop, $alphaValue in $scrimCoordinates {
	$stop: hsla($hue, $saturation, $lightness, $alphaValue) percentage($colorStop/100);
	$stops: append($stops, $stop, comma);
  }

  background: linear-gradient(unquote(inspect($direction)), $stops) $end;
}

@mixin experimental($property, $value, $prefixes: (), $infix: false) {
  @each $prefix in $prefixes {
	@if $infix {
	  #{$property}: #{'-' + $prefix + '-' + $value};
	} @else {
	  #{'-' + $prefix + '-' + $property}: $value;
	}
  }
}