$debug-bg: #efefef !default;
$debug-bg-border: #cccccc !default;
$debug-text: #454545 !default;

@function amplify($color, $percent: 5%) {
  @return saturate(lighten($color, $percent), 15%);
}

@mixin status-pulse-background($name, $colorstart, $colorend) {
  $name: pulse-#{$name};
  @keyframes #{$name}  {
    0% {
      background: $colorstart;
    }
    75% {
      background: $colorend;
    }
    100% {
      background: $colorstart;
    }
  }
}

@mixin status-pulse($name, $colorstart, $colorend, $times: 3, $duration: 1s) {
  animation: pulse-#{$name} #{$duration} #{$times};
  animation-delay: 500ms;
  animation-timing-function: ease-in;
  //animation-timing-function: cubic-bezier(.28,.79,.8,.1);
  @include status-pulse-background($name, $colorstart, $colorend);
}

.ui-pb-msg-success-parent {
  @extend .alert-success;
  @include status-pulse('success', #fff, amplify($alert-success-bg), 1);
  border-left-color: $alert-success-border;
  background: #fff;
  position: relative;
}

.ui-pb-msg-debug-parent {
  @include alert-variant($debug-bg, $debug-bg-border, $debug-text);
  @include status-pulse('debug', $debug-bg, amplify($debug-bg), 2);
}

.ui-postback-msg-debug {
  color: $debug-text;
}

.ui-pb-msg-info-parent {
  @extend .alert-info;
  @include status-pulse('info', $alert-info-bg, amplify($alert-info-bg), 1);
}

.ui-postback-msg-info {
  color: $alert-info-text;
}

.ui-pb-msg-warning-parent {
  @extend .alert-warning;
  @include status-pulse('warning', $alert-warning-bg, amplify($alert-warning-bg), 2);
}

.ui-postback-msg-warning {
  color: $alert-warning-text;
}

.ui-pb-msg-failed-parent {
  @extend .alert-danger;
  @include status-pulse('failed', $alert-danger-bg, amplify($alert-danger-bg), 4);
}

.ui-postback-msg-failed {
  color: $alert-danger-text;
}
#ui-postback {
  #ui-postback-more.collapsed {
	+ #ui-expand-all-postback {
		display: none;
	}
  }
  #ui-expand-all-postback {
	position: absolute;
	right: 0.5em;
	opacity: 0.5;
  }
}

#ui-postback-response {
  .ui-pb-msg-success-parent & .ui-status-icon {
    @extend .fa-check;
  }
  .ui-pb-msg-failed-parent & .ui-status-icon {
    @extend .fa;
    @extend .fa-exclamation;
  }
}

#ui-postback-response {
  &.ui-pb-msg-info .ui-status-icon {
	margin-right: 0;
  }
  .ui-status-icon {
	margin-right: $spacer-y/4;
  }
  overflow: hidden;
  margin-bottom: 0;
  font-weight: 600;
  .ui-postback-response, .ui-toggle-details p {
	font-weight: bold;
  }

  .ui-postback-toggle-details {
	right: 0;
	border: 0 none;
	font-size: 0.85em;
	position: absolute;
	width: 100%;
	top: 0;
	text-align: right;
  }

}

.ui-pb-msg-success-parent #ui-postback-response {
  border-left-color: $brand-success;
}

.ui-pb-msg-failed-parent #ui-postback-response {
  border-left-color: $brand-danger;
}

.ui-postback-msg {
  font-size: 0.95em;
}

.ui-postback-msg li {
  white-space: pre-wrap;
  max-height: 75px;
  overflow-y: auto;
  +.expanded, li.ui-postback-msg /* nested pb */ {
	max-height: 100%;
  }

  &:before {
	margin-right: $spacer-y/4;
  }
}
#ui-postback-extended {
}

.ui-postback-msg li:before {
  @extend .fa;
  @extend .fa-flag;
}

.ui-postback-msg .ui-postback-nonstatus:before {
  content: '';
}